{% extends 'base.html' %}
{% load static %}
 
{% block body %}
 
    <header>
        <div class="app-bar">
            <a class="app-bar-element" href="/home"><img src="{% static 'img/logoRedtel1.png' %}" height="90" width="100"></a>
            <span class="app-bar-divider"></span>
            <a class="app-bar-element" href="/home">Inicio</a>
            <span class="app-bar-divider"></span>
            <a class="app-bar-element" href="/home/mis_datos">Mis datos</a>
            <span class="app-bar-divider"></span>
            <a class="app-bar-element" href="/home/mis_liquidaciones">Mis Liquidaciones</a>
            <span class="app-bar-divider"></span>
            {% if perms.portal.es_administrador %} 
                <a class="app-bar-element" href="/home/mensajes">Mensajes</a>
                <span class="app-bar-divider"></span>
                <a class="app-bar-element" href="/home/cargar_liquidaciones">Cargar Liquidaciones</a>
                <span class="app-bar-divider"></span>
                <a class="app-bar-element" href="/home/cargar_usuarios">Cargar Usuarios</a>
                <span class="app-bar-divider"></span>
            {% endif %} 
            <ul class="app-bar-menu">
                <li><a href=""></a></li>
            </ul>
            <div class="app-bar-element place-right">
                <a class="fg-white" href="{% url 'logout' %}">
                    <span class="mif-exit"></span> Salir
                </a>
                    
            </div>
        </div>
    </header>


    {% if mensajes %} 
    <div class="grid">
    <div class="cell-auto-size">
    {% for message in mensajes %}
    
    <div class="panel warning">
    <div class="heading">
        <span class="title">Mensaje </span>
    </div>
    <div class="content">
        <p>{{ message.msg }}</p>
    </div>
    </div>
    </div>
    </div> 
    
    {% endfor %} 

    {% endif %}

    {% block seccion %}

    {% endblock %}
  
{% endblock %}
